*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'pixelart';
    src: url('font/ARCADECLASSIC.TTF') ;
}
html, body{
    font-family: 'pixelart';
    height: 100%;
    width: 100%;
}
body {
    
    margin: 0;
    background-image: url(img/background.png);
    background-repeat: repeat;
    background-size: 550px;
}
.divMaze{
    margin-left: 12%;
    position: relative;
    height: 550px;
    width: 550px;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#mazeCanvas{
    position: absolute;  
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
#mazeCanvas2{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
.main { 
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.stranski, #speed_div{
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.finish{
    position: absolute;
    z-index: 11;
    margin-left: 33px;
    margin-top: 511px;
    height: 7%;
    width: 7%;
}
#solve, #reset{
    width: 225px;
    font-size: 20px;
    font-family: 'pixelart';
    border: 3px solid;
    border-radius: 10px;
    padding: 10px;
    background-color: #ffb84a;
    cursor: pointer;
}
#naslov{
    margin-top: -15%;
    font-size:50px;
}
input[type="range"] {
    -webkit-appearance: none; 
    appearance: none;
    height: 10px;
    background: #B67835; 
    border-radius: 5px;
    outline: none;
    opacity: 0.9;
    transition: opacity 0.2s;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #ffb84a; 
    border: 2px solid;
    border-radius: 50%;
    cursor: pointer;
}

#speed{
    margin: 0 auto;
    font-size:20px;
}
#min_max{
    word-spacing: 145px;
}
#speed_div{
    border: 3px solid;
    border-radius: 10px;
    padding: 10px;
}